# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Environment files
.env
*.env

# IDE specific files
.idea/
.vscode/
.DS_Store

# Log files
*.log

TODO.md
logs.txt
secret.md
tmp/
controllers/auth.controller.go
controllers/post.controller.go
controllers/user.controller.go
middlewares/deserialize-user.go
models/post.go
models/user.model.go
routes/auth.routes.go
routes/post.routes.go
routes/user.routes.go
utils/
cloud_sql_proxy.exe
cloud-sql-key.json
cloud-sql-proxy/